<div class="container" ng-controller="BlogController as ctrl">
 
 <!-- <div ng-repeat="selectedBlog in ctrl.blogs"> -->

<div class="form-group">
Title : <label> {{selectedBlog.title}} </label><br>
Written BY : <label> {{selectedBlog.userID}} ,</label><br>
Description : <label> {{selectedBlog.description}}</label><br>
<br>
<div class="row">

<form ng-submit="ctrl.addcomment(selectedBlog.id,ctrl.blogcomment.bcomment,ctrl.blogcomment.rating)">
<div class="form-group col-md-6">
<input type="text" ng-model="ctrl.blogcomment.bcomment" id="id" class="form-control input-sm" placeholder="Enter your comment"/><br>

<div class="form-group col-md-6"></div></div>
<br>

<span class="starRating" ng-hide="currentUser.id==selectedBlog.userID">
<input id="rating5" type="radio" name="ratingss" ng-model="ctrl.blogcomment.rating" value="5"> 
 <label for="rating5">5</label>  &nbsp; &nbsp; &nbsp;
 
 <input id="rating4" type="radio" name="ratingss" ng-model="ctrl.blogcomment.rating" value="4">
 <label for="rating4">4</label>  &nbsp; &nbsp; &nbsp;
 
 <input id="rating3" type="radio" name="ratingss" ng-model="ctrl.blogcomment.rating" value="3">
 <label for="rating3">3</label>  &nbsp; &nbsp; &nbsp;
 
 <input id="rating2" type="radio" name="ratingss" ng-model="ctrl.blogcomment.rating" value="2">
 <label for="rating2">2</label>  &nbsp; &nbsp; &nbsp;
 
 <input id="rating1" type="radio" name="ratingss" ng-model="ctrl.blogcomment.rating" value="1">
 <label for="rating1">1</label>  &nbsp; &nbsp; &nbsp;
</span> 

<button type="submit"  class="btn btn-warning btn-sm">Submit</button>
<br></form>
<br>

<div class="form-group">
<button type="submit"  ng-click="ctrl.getSelectedBlogComment(selectedBlog.id)" class="btn btn-warning btn-sm">View Comments</button><br>

 <div ng-repeat="selectedBlogComment in ctrl.blogcomments">


Comment By : <label> {{selectedBlogComment.userID}} </label> &nbsp; &nbsp; &nbsp; Comment : <label> {{selectedBlogComment.bcomment}},</label>
&nbsp; &nbsp; &nbsp; Rating : <label> {{selectedBlogComment.rating}}</label><br>
<br>

</div>
</div></div>

</div>
</div>

